<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.icatw.yeb.server.mapper.AdminRoleMapper">

    <resultMap type="cn.icatw.yeb.server.domain.AdminRole" id="AdminRoleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="adminid" column="adminId" jdbcType="INTEGER"/>
        <result property="rid" column="rid" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询指定行数据-->
    <select id="selectAdminRoleList" resultMap="AdminRoleMap">
        select
        id, adminId, rid
        from t_admin_role
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="adminid != null">
                and adminId = #{adminid}
            </if>
            <if test="rid != null">
                and rid = #{rid}
            </if>
        </where>
    </select>
</mapper>
