<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.icatw.yeb.server.mapper.MenuMapper">

    <resultMap type="cn.icatw.yeb.server.domain.Menu" id="MenuMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="iconcls" column="iconCls" jdbcType="VARCHAR"/>
        <result property="keepalive" column="keepAlive" jdbcType="INTEGER"/>
        <result property="requireauth" column="requireAuth" jdbcType="INTEGER"/>
        <result property="parentid" column="parentId" jdbcType="INTEGER"/>
        <result property="enabled" column="enabled" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询指定行数据-->
    <select id="selectMenuList" resultMap="MenuMap">
        select
        id, url, path, component, name, iconCls, keepAlive, requireAuth, parentId, enabled
        from t_menu
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="path != null and path != ''">
                and path = #{path}
            </if>
            <if test="component != null and component != ''">
                and component = #{component}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="iconcls != null and iconcls != ''">
                and iconCls = #{iconcls}
            </if>
            <if test="keepalive != null">
                and keepAlive = #{keepalive}
            </if>
            <if test="requireauth != null">
                and requireAuth = #{requireauth}
            </if>
            <if test="parentid != null">
                and parentId = #{parentid}
            </if>
            <if test="enabled != null">
                and enabled = #{enabled}
            </if>
        </where>
    </select>
</mapper>
