<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.icatw.yeb.server.mapper.MenuMapper">

    <resultMap type="cn.icatw.yeb.server.domain.Menu" id="MenuMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="iconcls" column="iconCls" jdbcType="VARCHAR"/>
        <result property="keepalive" column="keepAlive" jdbcType="INTEGER"/>
        <result property="requireauth" column="requireAuth" jdbcType="INTEGER"/>
        <result property="parentid" column="parentId" jdbcType="INTEGER"/>
        <result property="enabled" column="enabled" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap type="cn.icatw.yeb.server.domain.Menu" id="Menus" extends="MenuMap">
        <collection property="children" ofType="cn.icatw.yeb.server.domain.Menu">
            <id column="id2" property="id"/>
            <result column="url2" property="url"/>
            <result column="path2" property="path"/>
            <result column="component2" property="component"/>
            <result column="name2" property="name"/>
            <result column="iconCls2" property="iconcls"/>
            <result column="keepAlive2" property="keepalive"/>
            <result column="requireAuth2" property="requireauth"/>
            <result column="parentId2" property="parentid"/>
            <result column="enabled2" property="enabled"/>
        </collection>
    </resultMap>
    <resultMap id="MenusWithRole" type="cn.icatw.yeb.server.domain.Menu" extends="MenuMap">
        <collection property="roles" ofType="cn.icatw.yeb.server.domain.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="namezh"/>
        </collection>
    </resultMap>
    <!--查询指定行数据-->
    <select id="selectMenuList" resultMap="MenuMap">
        select
        id, url, path, component, name, iconCls, keepAlive, requireAuth, parentId, enabled
        from t_menu
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="path != null and path != ''">
                and path = #{path}
            </if>
            <if test="component != null and component != ''">
                and component = #{component}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="iconcls != null and iconcls != ''">
                and iconCls = #{iconcls}
            </if>
            <if test="keepalive != null">
                and keepAlive = #{keepalive}
            </if>
            <if test="requireauth != null">
                and requireAuth = #{requireauth}
            </if>
            <if test="parentid != null">
                and parentId = #{parentid}
            </if>
            <if test="enabled != null">
                and enabled = #{enabled}
            </if>
        </where>
    </select>
    <select id="getMenusByAdminId" resultMap="Menus">
        SELECT DISTINCT m1.*,
                        m2.id          AS id2,
                        m2.url         AS url2,
                        m2.path        AS path2,
                        m2.component   AS component2,
                        m2.`name`      AS name2,
                        m2.iconCls     AS iconCls2,
                        m2.keepAlive   AS keepAlive2,
                        m2.requireAuth AS requireAuth2,
                        m2.parentId    AS parentId2,
                        m2.enabled     AS enabled2
        FROM t_menu m1,
             t_menu m2,
             t_admin_role ar,
             t_menu_role mr
        WHERE m1.id = m2.parentId
          AND m2.id = mr.mid
          AND mr.rid = ar.rid
          AND ar.adminId = #{id}
          AND m2.enabled = TRUE
        ORDER BY m2.id
    </select>
    <select id="getMenusWithRole" resultMap="MenusWithRole">
        SELECT m.*,
               r.id     AS rid,
               r.`name` AS rname,
               r.nameZh AS rnameZh
        FROM t_menu m,
             t_menu_role mr,
             t_role r
        WHERE m.id = mr.mid
          and r.id = mr.rid
        ORDER BY m.id
    </select>
</mapper>
