<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.icatw.yeb.server.mapper.TEmployeeMapper">

    <resultMap type="cn.icatw.yeb.server.domain.TEmployee" id="TEmployeeMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
        <result property="idcard" column="idCard" jdbcType="VARCHAR"/>
        <result property="wedlock" column="wedlock" jdbcType="VARCHAR"/>
        <result property="nationid" column="nationId" jdbcType="INTEGER"/>
        <result property="nativeplace" column="nativePlace" jdbcType="VARCHAR"/>
        <result property="politicid" column="politicId" jdbcType="INTEGER"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="departmentid" column="departmentId" jdbcType="INTEGER"/>
        <result property="joblevelid" column="jobLevelId" jdbcType="INTEGER"/>
        <result property="posid" column="posId" jdbcType="INTEGER"/>
        <result property="engageform" column="engageForm" jdbcType="VARCHAR"/>
        <result property="tiptopdegree" column="tiptopDegree" jdbcType="VARCHAR"/>
        <result property="specialty" column="specialty" jdbcType="VARCHAR"/>
        <result property="school" column="school" jdbcType="VARCHAR"/>
        <result property="begindate" column="beginDate" jdbcType="TIMESTAMP"/>
        <result property="workstate" column="workState" jdbcType="VARCHAR"/>
        <result property="workid" column="workID" jdbcType="VARCHAR"/>
        <result property="contractterm" column="contractTerm" jdbcType="VARCHAR"/>
        <result property="conversiontime" column="conversionTime" jdbcType="TIMESTAMP"/>
        <result property="notworkdate" column="notWorkDate" jdbcType="TIMESTAMP"/>
        <result property="begincontract" column="beginContract" jdbcType="TIMESTAMP"/>
        <result property="endcontract" column="endContract" jdbcType="TIMESTAMP"/>
        <result property="workage" column="workAge" jdbcType="INTEGER"/>
        <result property="salaryid" column="salaryId" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询指定行数据-->
    <select id="selectTEmployeeList" resultMap="TEmployeeMap">
        select
        id, name, gender, birthday, idCard, wedlock, nationId, nativePlace, politicId, email, phone, address,
        departmentId, jobLevelId, posId, engageForm, tiptopDegree, specialty, school, beginDate, workState, workID,
        contractTerm, conversionTime, notWorkDate, beginContract, endContract, workAge, salaryId
        from t_employee
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
            <if test="birthday != null">
                and birthday = #{birthday}
            </if>
            <if test="idcard != null and idcard != ''">
                and idCard = #{idcard}
            </if>
            <if test="wedlock != null">
                and wedlock = #{wedlock}
            </if>
            <if test="nationid != null">
                and nationId = #{nationid}
            </if>
            <if test="nativeplace != null and nativeplace != ''">
                and nativePlace = #{nativeplace}
            </if>
            <if test="politicid != null">
                and politicId = #{politicid}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
            <if test="departmentid != null">
                and departmentId = #{departmentid}
            </if>
            <if test="joblevelid != null">
                and jobLevelId = #{joblevelid}
            </if>
            <if test="posid != null">
                and posId = #{posid}
            </if>
            <if test="engageform != null and engageform != ''">
                and engageForm = #{engageform}
            </if>
            <if test="tiptopdegree != null">
                and tiptopDegree = #{tiptopdegree}
            </if>
            <if test="specialty != null and specialty != ''">
                and specialty = #{specialty}
            </if>
            <if test="school != null and school != ''">
                and school = #{school}
            </if>
            <if test="begindate != null">
                and beginDate = #{begindate}
            </if>
            <if test="workstate != null">
                and workState = #{workstate}
            </if>
            <if test="workid != null and workid != ''">
                and workID = #{workid}
            </if>
            <if test="contractterm != null">
                and contractTerm = #{contractterm}
            </if>
            <if test="conversiontime != null">
                and conversionTime = #{conversiontime}
            </if>
            <if test="notworkdate != null">
                and notWorkDate = #{notworkdate}
            </if>
            <if test="begincontract != null">
                and beginContract = #{begincontract}
            </if>
            <if test="endcontract != null">
                and endContract = #{endcontract}
            </if>
            <if test="workage != null">
                and workAge = #{workage}
            </if>
            <if test="salaryid != null">
                and salaryId = #{salaryid}
            </if>
        </where>
    </select>
</mapper>
