<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.icatw.yeb.server.mapper.TMailLogMapper">

    <resultMap type="cn.icatw.yeb.server.domain.TMailLog" id="TMailLogMap">
        <result property="msgid" column="msgId" jdbcType="VARCHAR"/>
        <result property="eid" column="eid" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="routekey" column="routeKey" jdbcType="VARCHAR"/>
        <result property="exchange" column="exchange" jdbcType="VARCHAR"/>
        <result property="count" column="count" jdbcType="INTEGER"/>
        <result property="trytime" column="tryTime" jdbcType="TIMESTAMP"/>
        <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询指定行数据-->
    <select id="selectTMailLogList" resultMap="TMailLogMap">
        select
        msgId, eid, status, routeKey, exchange, count, tryTime, createTime, updateTime
        from t_mail_log
        <where>
            <if test="msgid != null and msgid != ''">
                and msgId = #{msgid}
            </if>
            <if test="eid != null">
                and eid = #{eid}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="routekey != null and routekey != ''">
                and routeKey = #{routekey}
            </if>
            <if test="exchange != null and exchange != ''">
                and exchange = #{exchange}
            </if>
            <if test="count != null">
                and count = #{count}
            </if>
            <if test="trytime != null">
                and tryTime = #{trytime}
            </if>
            <if test="createtime != null">
                and createTime = #{createtime}
            </if>
            <if test="updatetime != null">
                and updateTime = #{updatetime}
            </if>
        </where>
    </select>
</mapper>
